{% extends 'main/base.html' %}
{% load staticfiles %}
{# JS has to be inline to use context #}

{% block extjs %}
<script type="text/javascript" src="{% static "js/view/UserProfile.js" %}"></script>
<script type="text/javascript">
    var user = {
        first_name: '{{user.first_name}}',
        last_name: '{{user.last_name}}',
        email: '{{user.email}}',
        id: '{{user.id}}'
    };
    var memberId = {{member_id}};
    var csrfToken = '{{ csrf_token }}';
    initUserProfile(user, memberId, csrfToken);
</script>
{% csrf_token %}
{% endblock %}